@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-gradient-navbar-border {
    background: radial-gradient(
      circle at 50% 50%,
      #cfc8ff50 0%,
      #140f3400 100%
    );
  }
  @media (min-width: 1024px) {
    .bg-gradient-navbar-menu-open {
      background-image: url("/assets/top-nav-gradient.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .hero-vertical-marquee-vars {
    --hero-vertical-marquee-height: 48px;
  }
  @media (min-width: 640px) {
    .hero-vertical-marquee-vars {
      --hero-vertical-marquee-height: 46px;
    }
  }
  @media (min-width: 1024px) {
    .hero-vertical-marquee-vars {
      --hero-vertical-marquee-height: 58px;
    }
  }
  @media (min-width: 1280px) {
    .hero-vertical-marquee-vars {
      --hero-vertical-marquee-height: 80px;
    }
  }
  @media (min-width: 1536px) {
    .hero-vertical-marquee-vars {
      --hero-vertical-marquee-height: 90px;
    }
  }
  @keyframes ticker {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc(-50% - 8px));
    }
  }
  .animate-ticker {
    animation: ticker 500ms ease-in-out forwards;
  }
  @keyframes swap-tool-fade {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .animate-swap-tool-ticker-fade-in {
    animation: swap-tool-fade 500ms ease-in-out forwards;
  }
  .animate-swap-tool-ticker-fade-out {
    animation: swap-tool-fade 500ms ease-in-out reverse forwards;
  }
  .ticker-mask {
    mask-image: linear-gradient(
      180deg,
      #d9d9d900 0%,
      #d9d9d9 15%,
      #d9d9d9 85%,
      #d9d9d900 100%
    );
  }
  .swap-tool-bg {
    background-color: rgba(20, 15, 52, 0.1);
    backdrop-filter: blur(24px);
  }
  .border-swap-tool {
    box-shadow: inset 0px 0px 0px 1px #ffffff45;
  }
  .bg-hero-section {
    background-image: url("/assets/hero/bg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media (min-width: 640px) {
    .bg-hero-section {
      background-image: url("/assets/hero/bg-sm.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    .bg-hero-section {
      background-image: url("/assets/hero/bg-md.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 1024px) {
    .bg-hero-section {
      background-image: url("/assets/hero/bg-lg.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  .border-token-stats-upcoming {
    box-shadow: inset 0px 0px 0px 1px #565081;
  }
  .bg-explore-assets-headline {
    background: linear-gradient(0deg, #eeecea 16.94%, #f1c7fc 110%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .absolute-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .second-ring {
    --angle: 30deg;
    --offset: 60deg;
    --ring-asset-opacity: 0.75;
  }
  .first-ring {
    --angle: 45deg;
    --offset: 45deg;
  }
  .third-ring {
    --angle: 12.86deg;
    --offset: 0deg;
    --ring-asset-opacity: 0.5;
  }
  @media (min-width: 768px) {
    .second-ring {
      --angle: 18deg;
      --offset: 0deg;
      --ring-asset-opacity: 0.75;
    }
    .first-ring {
      --angle: 30deg;
      --offset: 0deg;
    }
  }
  /* .heart-gradient::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(
        22% 25% at 50% 50%,
        #ffa5f7 3%,
        #ca2ebd 25%,
        rgba(148, 37, 149, 0.53) 50%,
        rgba(21, 16, 53, 0) 100%
      ),
      radial-gradient(
        22% 25% at 50% 50%,
        rgba(125, 11, 153, 0.8) 40%,
        rgba(32, 27, 67, 0) 100%
      );
  } */
  .stats-with-tweets-bg {
    background: radial-gradient(
        68.58% 65.85% at 98.59% -2.72%,
        rgba(255, 237, 227, 0.5) 0%,
        rgba(255, 134, 66, 0.45) 11.48%,
        rgba(235, 38, 203, 0.2) 33.33%,
        rgba(73, 44, 225, 0.08) 66.67%,
        rgba(6, 0, 70, 0) 100%
      ),
      linear-gradient(204deg, #211957 32.87%, rgba(17, 12, 45, 0) 55.3%);
  }
  .outline-stat-card {
    outline-offset: -1px;
    outline: 1px solid rgba(200, 169, 255, 0.25);
  }
  .tweets-upper-half {
    --tweet-count: 13;
    --tweet-width: 309px;
    --tweet-gap: 8px;
  }
  .tweets-bottom-half {
    --tweet-count: 14;
    --tweet-width: 309px;
    --tweet-gap: 8px;
  }
  @media (min-width: 1024px) {
    .tweets-upper-half {
      --tweet-count: 13;
      --tweet-width: 472px;
      --tweet-gap: 16px;
    }
    .tweets-bottom-half {
      --tweet-count: 14;
      --tweet-width: 472px;
      --tweet-gap: 16px;
    }
  }
  @keyframes tweets-animation {
    from {
      transform: translateZ(0);
    }
    to {
      transform: translate3d(
        calc(
          (
              var(--tweet-width) * var(--tweet-count) +
                (var(--tweet-gap) * (var(--tweet-count) - 1))
            ) * -1 - var(--tweet-gap)
        ),
        0,
        0
      );
    }
  }
  .tweets-row-marquee-animation {
    width: calc(
      (
          var(--tweet-width) * var(--tweet-count) +
            (16px * (var(--tweet-count)) - 2)
        ) * 2
    );
    animation: tweets-animation 120s linear infinite;
  }
  .tweets-row-marquee-animation-reverse {
    width: calc(
      (
          var(--tweet-width) * var(--tweet-count) +
            (16px * (var(--tweet-count)) - 2)
        ) * 2
    );
    animation: tweets-animation 120s linear infinite reverse;
  }
  .tweet-paragraph-mask-gradient::after {
    @apply absolute inset-0 content-[''] lg:hidden;
    background: linear-gradient(to top, #201b43 0%, #201b4300 50%);
  }
  .horizontal-mask {
    mask-image: linear-gradient(
      90deg,
      #d9d9d900 0%,
      #d9d9d9 25%,
      #d9d9d9 75%,
      #d9d9d900 100%
    );
  }
  .trusted-heading-bg {
    background-image: linear-gradient(
      106.31deg,
      #e8d5ef 0%,
      #ff8642 30%,
      #ca36fe 75%,
      #640ad7 90%
    );
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  .trend-card-bg-1 {
    background-image: radial-gradient(
        circle at 0 0,
        #140f34,
        rgba(9, 23, 77, 0.37) 58%,
        rgba(73, 167, 255, 0)
      ),
      radial-gradient(
        circle at 100% 100%,
        #6dbfec,
        #1a8ada 15%,
        #2063ca 30%,
        #2540bb 56%,
        #140f34
      );
  }
  .trend-card-bg-2 {
    background-image: radial-gradient(
        circle at 0 0,
        #140f34 3%,
        rgba(61, 7, 71, 0.41) 71%,
        rgba(255, 152, 18, 0)
      ),
      radial-gradient(
        circle at 100% 100%,
        #fc8a4a,
        rgba(229, 75, 120, 0.85) 12%,
        #970981 31%,
        #140f34
      );
  }
  .trend-card-bg-3 {
    background-image: radial-gradient(
        circle at 0 0,
        #140f34 5%,
        rgba(19, 10, 78, 0.53) 63%,
        rgba(212, 35, 224, 0)
      ),
      radial-gradient(
        circle at 100% 100%,
        #c431f8,
        #841cec 10%,
        #2915bd 43%,
        #090520 77%
      );
  }
  .bg-gradient-osmo-cta {
    background: radial-gradient(
      121.96% 97.14% at 91.55% 91.55%,
      rgba(245, 48, 228, 0.7) 0%,
      rgba(126, 27, 253, 0.7) 18.84%,
      rgba(76, 30, 152, 0.31) 77%,
      rgba(35, 32, 71, 0) 100%
    );
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .bg-gradient-osmo-cta {
      background: radial-gradient(
          53% 50% at 100% 100%,
          #8a03a0 1.21%,
          rgba(61, 37, 190, 0.4) 42.82%,
          rgba(54, 31, 178, 0) 100%
        ),
        radial-gradient(
          55% 84% at 0.94% 100%,
          #f530e4 0%,
          #7e1bfd 35.29%,
          rgba(76, 30, 152, 0.45) 77%,
          rgba(35, 32, 71, 0) 100%
        );
      background-repeat: no-repeat;
    }
  }
  @media (min-width: 1024px) {
    .bg-gradient-osmo-cta {
      background: radial-gradient(
          50% 60% at 104% 104%,
          #8a03a0 1.21%,
          rgba(61, 37, 190, 0.4) 42.82%,
          rgba(54, 31, 178, 0) 100%
        ),
        radial-gradient(
          60% 130% at 0.94% 97.67%,
          #f530e4 0%,
          #7e1bfd 35.29%,
          rgba(76, 30, 152, 0.45) 77%,
          rgba(35, 32, 71, 0) 100%
        );
      background-repeat: no-repeat;
    }
  }
  .is-checked .is-checked-arrow-rotation {
    rotate: 180deg;
  }
  .is-checked .is-checked-hide {
    display: none;
  }
  .is-checked .is-checked-show {
    display: block;
  }

  .bg-stake-heading {
    background: linear-gradient(180deg, #eeecea 22.39%, #acd9e7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-gradient-pulse-green {
    background-image: radial-gradient(
      52.09% 52.09% at 47% 48%,
      #00a399 0%,
      rgba(32, 27, 67, 0) 100%
    );
  }
  .bg-earn-section {
    background: radial-gradient(
        100% 173% at 0% 0%,
        rgba(250, 178, 239, 0.45) 0%,
        rgba(235, 38, 235, 0.36) 18%,
        rgba(178, 38, 155, 0.16) 40%,
        rgba(22, 15, 56, 0) 60%
      ),
      linear-gradient(188deg, #140f34, #140f3400);
  }
  .bg-earn-headline {
    background: linear-gradient(180deg, #eeecea 55.38%, #f1c7fc 90.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-earn-card-radial {
    background: radial-gradient(
      109.08% 102.6% at 100% 0%,
      rgba(213, 21, 188, 0.22) 0%,
      rgba(15, 9, 45, 0) 100%
    );
  }
  @media (min-width: 1024px) {
    .bg-earn-card-radial {
      background: radial-gradient(
        102.12% 96.05% at 90.28% 96.15%,
        rgba(213, 21, 188, 0.45) 0%,
        rgba(15, 9, 45, 0) 100%
      );
    }
  }
  .bg-help-headline {
    background: linear-gradient(180deg, #eeecea 18.57%, #c7e9fc 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-help-card-radial {
    background: radial-gradient(
      100% 100% at 120% 10%,
      rgba(90, 182, 233, 0.61) 0%,
      rgba(15, 9, 45, 0) 100%
    );
  }
  @media (min-width: 1024px) {
    .bg-help-card-radial {
      background: radial-gradient(
        65% 100% at 100% 85%,
        rgba(90, 182, 233, 0.61) 0%,
        rgba(15, 9, 45, 0) 100%
      );
    }
  }
  .border-vote-section {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  .bg-vote-headline {
    background: linear-gradient(
      109deg,
      #e8d5ef 10%,
      #ff8642 35%,
      #ca36fe 70%,
      #640ad7 88%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-vote-section-grad {
    background: radial-gradient(
        70.61% 38.78% at 98.28% 98.28%,
        #f7752f 0%,
        rgba(39, 9, 76, 0) 100%
      ),
      radial-gradient(
        141.29% 43.33% at 99.49% 99.49%,
        #ca2ebd 0%,
        rgba(23, 15, 79, 0) 100%
      ),
      radial-gradient(
        210.07% 72.35% at 94.78% 94.78%,
        #f530e4 0%,
        rgba(126, 27, 253, 0.85) 29.82%,
        rgba(47, 15, 100, 0.45) 63.16%,
        rgba(20, 15, 52, 0) 100%
      ),
      linear-gradient(to bottom, #140f34 0%, #140f34 100%);
    background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
    .bg-vote-section-grad {
      background-image: url("/assets/vote-section/bg-grad-md.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 1px;
      background-color: #140f34;
    }
  }
  @media (min-width: 1024px) {
    .bg-vote-section-grad {
      background-image: url("/assets/vote-section/bg-grad-lg.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #140f34;
    }
  }
  @media (min-width: 1280px) {
    .bg-vote-section-grad {
      background-image: url("/assets/vote-section/bg-grad-xl.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #140f34;
    }
  }
  @media (min-width: 1536px) {
    .bg-vote-section-grad {
      background-image: url("/assets/vote-section/bg-grad-2xl.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #140f34;
    }
  }
  .vote-grid {
    mask-image: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 0.21%,
      #737373 50.07%
    );
  }
  @media (min-width: 1024px) {
    .vote-grid {
      mask-image: linear-gradient(
        90deg,
        rgba(217, 217, 217, 0) 0.21%,
        #737373 100.07%
      );
    }
  }
  .bg-build-headline {
    background: linear-gradient(180deg, #eeecea 18.57%, #ffd4bd 85%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-build-card-radial {
    background: radial-gradient(
      70% 90% at 90% 100%,
      rgba(255, 134, 66, 0.5) 0%,
      rgba(15, 9, 45, 0) 100%
    );
  }
  .bg-trade-headline {
    background: linear-gradient(
      109deg,
      #e8d5ef 12.84%,
      #ff8642 41.46%,
      #ca36fe 69.65%,
      #640ad7 88.15%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bg-gradient-trade {
    background-image: url("/assets/trade-section/bg.svg");
    background-repeat: no-repeat;
    background-position: 0px 10px;
    background-size: cover;
  }
  @media (min-width: 640px) {
    .bg-gradient-trade {
      background-image: url("/assets/trade-section/bg-sm.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    .bg-gradient-trade {
      background-image: url("/assets/trade-section/bg-md.svg");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: cover;
    }
  }
  @media (min-width: 1024px) {
    .bg-gradient-trade {
      background-image: url("/assets/trade-section/bg-lg.svg");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: cover;
    }
  }
  @media (min-width: 1536px) {
    .bg-gradient-trade {
      background-image: url("/assets/trade-section/bg-2xl.svg");
      background-repeat: no-repeat;
      background-position: 0px 0px;
      background-size: cover;
    }
  }
  @layer components {
    html {
      font-family: Inter, ui-sans-serif, system-ui;
      @apply text-white-full;
    }
  }
}
