@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-gradient-navbar-border {
    background: radial-gradient(
      circle at 50% 50%,
      rgba(207, 200, 255, 0.25) 0%,
      rgba(20, 15, 52, 0) 100%
    );
  }
  .bg-gradient-navbar-menu-open {
    background-image: url("/assets/top-nav-gradient.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .swap-tool-bg {
    background-color: rgba(20, 15, 52, 0.1);
    backdrop-filter: blur(24px);
  }
  .bg-hero-section {
    background-image: url("/assets/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bg-hero-section-mobile {
    background-image: url("/assets/hero-bg-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @layer components {
    html {
      font-family: Inter, ui-sans-serif, system-ui;
      @apply text-white-full;
    }
    body {
      @apply bg-osmoverse-900;
    }
  }
}
